// @font-face {
//     font-family: 'HebrewFont';
//     src: local("Times New Roman");
//     unicode-range: U+0590-05FF;
// }
// @font-face {
//     font-family: 'GreekFont';
//     src: local("Times New Roman");
//     unicode-range: U+0370-03FF, U+1F00-1FFF;
// }

// body {
//     font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol
// }

// These are the only differences from Bethel Default
#page {
	font-family: "Times New Roman", Times, serif !important;
	font-size: 1.2em;
}
#page span {
    height: 100% !important;
}
#page i.icon, #page img.icon {
    vertical-align: unset !important;
}
#page img.icon {
    margin-top: inherit;
}
#page.icon {
	margin-top: .2em;
}
#page span.drag {
    height: unset !important;
}

.navbar {
    background-color: #123563 !important;
}

.site-name {
    display: none !important;
}

.usermenu .dropdown-toggle {
    color: #fff;
}

.usermenu .dropdown-toggle:hover, .usermenu .dropdown-toggle:active, .usermenu .dropdown-toggle:focus {
    color: #fff;
}

img.userpicture {
    margin-right: 0;
}

span.usertext {
    margin-right: 0.75rem !important;
}

.navbar-expand .btn.nav-link, .navbar-expand .btn.nav-link:hover, .navbar-expand .btn.nav-link:focus, .navbar-expand .btn.nav-link:active {background-color: #123563;color: #fff;border-color: #123563;}

.navbar div.d-inline-block {
    margin-right: 0 !important;
}

.navbar .btn.nav-link i.icon {
    font-size: 20px;
}

h3, .h3 {
    font-size: 1.2rem;
}

.box.coursebox {
    padding: 0 !important;
}

#page-header a {margin-right: 1.5em;}

a.list-group-item.active {background-color: #eee;color: #495057;border: 1px solid rgba(0,0,0,.125);}

span.media-left {
    display: none;
}

a {color: #0069aa;}

a:hover, a:active, a:focus {
    color: #0056b3;
}

footer#page-footer {
    background-color: #f8f9fa !important;
    color: #868e96 !important;
}

#page-footer a {
    color: #0069aa;
    text-decoration: none;
}

#page-footer a:hover {
    color: #0056b3;
    text-decoration: underline;
}

#page-footer a .icon {color: #868e96;}

#page-footer .container>div {display: inline-block;padding: .5em;}

.breadcrumb-item a {
    margin: 0 !important;
}

.btn-primary, .btn-secondary {
    background-color: #0056B5;
    border-color: #0056B5;
    border-radius: .25rem;
    font-weight: 500;
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #0069d9;
    border-color: #0069d9;
    color: #fff;
}

.highlight {
    font-weight: bold;
}

#page-footer .container > div {
    display: inline-block;
    padding: .5em;
}

.nav-item i.icon {
    color: #fff;
}

.btn-secondary:disabled:hover, .btn-secondary:disabled:focus, .btn-secondary:disabled:active {
    background-color: #e9ecef;
    border-color: #e9ecef;
    color: #212529;
}

h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.block_library .image a img {
    width: 100%;
}

.btn-sm {background-color: #e9ecef;border-color: #e9ecef;color: #212529;}

.btn-sm:hover, .btn-sm:active, .btn-sm:focus {
    background-color: #d3d9df;
    border-color: #d3d9df;
    color: #212529;
}

.btn-group.float-sm-right .btn-sm {margin-left: 0.3em;}

.dropdown-item i.icon {
    color: #212529;
}

.section.main.clearfix {
    width: 100%;
}

.action-menu-trigger i.icon {
    color: #212529;
}

.card-body .action-menu .dropdown-toggle::after {
    color: #212529;
    vertical-align: .35em;
}

#coc-hiddencoursesmanagement-bottom .row > * {
    margin-left: .4em;
    margin-right: .4em;
}

.hidecoursediv, .box.coursebox {
    width: 100%;
}
@media(min-width: 900px) {
  [data-region="blocks-column"] {
      width: 260px;
  }

  #region-main-settings-menu.has-blocks, #region-main.has-blocks {
      width: calc(100% - 275px);
      display: inline-block;
  }
}

span.media-left {
    display: block;
}

i.icon.fa.fa-graduation-cap, i.icon.fa.fa-users {
    font-size: 14px;
}

#nav-drawer i.icon {
    margin-right: .7em;
}

.media-body {
    word-break: break-word;
}

#coc-courselist .coc-metainfo {
    font-weight: 300 !important;
}

#coc-courselist a {
    font-weight: 400;
}

.list-group-item .dropdown-item a {
    font-weight: 300;
}

.list-group-item .m-l-0 .media-body {
    font-weight: 500;
}

.list-group-item .m-l-0 i.icon.fa.fa-square {
    display: none;
}

.list-group-item[data-parent-key="localboostnavigationcustomrootadmins1"] .media-body {
    font-weight: 400;
}

.list-group-item[data-parent-key="localboostnavigationcustomrootadmins1"] .media-left i.icon.fa.fa-square {
    display: block !important;
}

.list-group-item[href*="#section-"] .media-body {
    font-weight: 400;
}

.list-group-item[href*="course/search.php"] .media-left {
    display: none;
}

.course-content ul.ctopics li.section .content .toggle span:hover, .course-content ul.ctopics li.section .content.sectionhidden .toggle span:hover {
    color: #000;
}

.course-content ul.ctopics li.section .content div.toggle:hover {
    background-color: rgba(235, 235, 235, 1.0);
}

.sectionhead.toggle {transition: linear 0.1s;}

h3.sectionname, #toggles-all-opened, #toggles-all-closed {
    font-weight: 600;
    color: #444 !important;
    font-size: 1.15rem;
}

.activity-navigation .pull-right, .activity-navigation .pull-left, .activity-navigation .pull-right a, .activity-navigation .pull-left a {
    width: 100%;
    display: flex;
    line-break: initial;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    vertical-align: top;
    margin-top: 0;
    padding-top: 0;
}

.dropdown-menu a {
    font-weight: 300;
}

.dropdown-item span {
    white-space: nowrap;
}

#page-grade-report-grader-index .pagination {
    display: inline-flex;
}

@media (min-width: 1000px) {
  .course-content ul.topics li.section.span6 {
      width: calc(50% - 2px);
  }

  .course-content ul.topics li.section.span4 {
      width: calc(33% - 2px);
  }

  .course-content ul.topics li.section.span3 {
      width: calc(25% - 2px);
  }
}
